h1 {
  color: coral;
}

.word{
  display: inline-block;
}



.translation{
  width: 10px;
  display: block;
  color: #d1cece;
  white-space: nowrap;

}

.word{
  display: inline-block;
  background: #EFF0F3;

  box-shadow: -11px 0px 7px -5px #EFF0F3;
}
